<!DOCTYPE html>

<html>
  <head>
    <title>/ascii/</title>
  </head>
  <body>
    <h2>/ascii/</h2>
    {% block form %}
    {% endblock %}

    <form method="post" action="/unit3/asciichan">
      <div>
        <b>Title<b><br>
        <input type="text" name="title" value="{{title}}">
      </div>
      <div>
        <b>Art<b><br>
        <textarea name="art">{{art}}</textarea>
      </div>
      <input type="submit">
    </form>

    <hr>


    <div class="art-image">
      <img src="http://maps.googleapis.com/maps/api/staticmap?size=600x300&maptype=roadmap{% for art in arts %}{% if art.geopoint %}&markers=color:blue|label:S|{{art.geopoint.lat}},{{art.geopoint.lon}}{% endif %}{% endfor %}">
    </div>

    <hr>

    {% for art in arts %}
      <div class="art">
        <div class="art-title">
          {{art.title}}
        </div>
        <div class="art-geopoint">
          {{art.geopoint}}
        </div>
        <pre class="art-ascii">
          {{art.art}}
        </pre>
      </div>
    {% endfor %}

  </body>
</html>
