<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Final</title>
  <meta name="description" content="CS-253 Final Project">
  <meta name="author" content="Gokhan Baris Aker">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <h1>Welcome to final project wiki</h1>

  {% if user %}
    edit, history, {{user.name}}, <a href=/logout>logout</a>
  {% else %}
    history, <a href="/login">login<a>, <a href="/signup">signup</a>
  {% endif %}
</body>
</html>
