<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{wiki.title}}</title>
  <meta name="description" content="CS-253 Final Project">
  <meta name="author" content="Gokhan Baris Aker">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  {% include "header.html" %}

  <h1>{{wiki.title}}</h1>
  <div>
    <p>
      {{wiki.body}}
    </p>
  </div>
</body>
</html>
